*{
    margin: 0;
    padding: 0;
}
img{
    vertical-align: bottom;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body {
    font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #333;
    background: #E9EAED;
    line-height: 1.5;
    overflow-x: hidden;
}